@import "variables";
.header {
	height: 8px;
	z-index: 20;
	ul {
		padding-left: 0;
		margin: 0;
		li{	
			display: inline;
			width: 300px;
			a.grow{
				color: $white;
				font-size: 2.5rem;
				position: absolute;
				left: 15px;
			}
			h1#title.shadow-radial {
		 		color: $white;
				margin-top: 0;
				text-align: center;
				display: block;
			}
		}
	}
}