@import "variables";

// responsive computer screens
@media screen and (max-width: $high_resolution){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 40%;
				}
			}
		}
	}
}
@media screen and (max-width: 1080px){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 30%;
				}
			}
		}
	}
}
@media screen and (max-width: 825px){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 29%;
				}
			}
		}
	}
	.container{
		
		.content{
			p.numbers{
				margin-top: 50px; 
			}
		}
	}
}
@media screen and (max-width: $between_ipad_iphone){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 22%;
					font-size: 2rem;
				}
			}
		}
	}
	.container{
		.content{
			p.numbers{
				font-size: 7em;
			}
			img {
				height: 200px;
				width: 200px;
			}
		}
	}
}
@media screen and (max-width: $small_window){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					font-size: 1.5rem;
					top:10px;
				}
			}
		}
	}
}

//media screens for devices
@media screen and (max-device-width: $nexus_5_portrait ) and (orientation: portrait){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					top: 10px;
					font-size: 20px;		
				}
			}
		}
	}
	.container{	
		.content{
			p {
				font-size: 2em;
			}
			p.numbers{
				font-size: 6em;
			}
			h1{
				font-size: 2em;
			}
			div.arrow_right{
				right:-30px;
				top: 375px;
			}
		}
	}
	p.credit_disclaimer{
		top: 35px;
		position:relative;
	}
}
@media screen and (max-device-width: $nexus_5_landscape ) and (orientation: landscape){
	.container{
		.content{
			p {
				font-size: 4em;
			}
			p.numbers{
				font-size: 6em;
			}
			h1{
				font-size: 2em;
			}
			div.arrow_right{
				right:-30px;
				top: 200px;
			}
		}
	}
	p.credit_disclaimer{
		top: 20px;
		position:relative;
	}
}
@media screen and (max-device-width: $ipad_portrait) and (orientation: portrait){
	// .grow {
	//   display: inline-block;
	//   -webkit-transition-duration: null;
	//   transition-duration: null;
	//   -webkit-transition-property: null;
	//   transition-property: null;
	//   -webkit-tap-highlight-color: null;
	//   -webkit-transform: null;
	//   -ms-transform: null;
	//   transform: null;
	//   box-shadow: null;
	// }

	// .grow:hover {
	//   -webkit-transform: null;
	//   -ms-transform: null;
	//   transform: null;
	// }


	p.credit_disclaimer{
		top: 35px;
		position:relative;
	}
}
@media screen and (max-device-width: $ipad_landscape) and (orientation: landscape){
	p.credit_disclaimer{
		top: 35px;
		position:relative;
	}
}



























