@import "variables";

// responsive computer screens
@media screen and (max-width: $high_resolution){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 40%;
				}
			}
		}
	}
}
@media screen and (max-width: 1080px){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 30%;
				}
			}
		}
	}
}
@media screen and (max-width: 825px){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 29%;
				}
			}
		}
	}
	.container{
		
		.content{
			p.numbers{
				margin-top: 50px; 
			}
		}
	}
}
@media screen and (max-width: $between_ipad_iphone){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					left: 22%;
					font-size: 2rem;
				}
			}
		}
	}
	.container{
		.content{
			p.numbers{
				font-size: 7em;
			}
			img {
				height: 200px;
				width: 200px;
			}
		}
	}
}
@media screen and (max-width: $small_window){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					font-size: 1.5rem;
					top:10px;
				}
			}
		}
	}
}

//media screens for devices
@media screen and (max-device-width: $nexus_5_portrait ) and (orientation: portrait){
	.header{
		ul{
			li{
				h1#title.shadow-radial{
					top: 10px;
					font-size: 20px;		
				}
			}
		}
	}
	.container{
		
		.content{
			p {
				font-size: 3em;
			}
			p.numbers{
				font-size: 5em;
			}
			h1{
				font-size: 2em;
			}
			div.arrow_right{
				right:-30px;
				top: 400px;
			}
		}
	}
	p.credit_disclaimer{
		top: 35px;
		position:relative;
	}
}
