<div class="container">	
	<ul class="thumbs">
		<% @flashcard_sets.each do |set| %>
				<li class = "deck_index">
					
					<a href="/flashcard_set/<%= set.id %>"><img src="<%=set.image_url%>"></a><br>
					<p class="index_title"><%= link_to set.name , flashcard_set_path(set) %></p>
				</li>
		<% end %>
	</ul>
</div>